@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* HEADER */
.navigation {
    background-image: url("../img/backgroundimg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    max-width: 1366px;
    width: 100%;
    height: 324px;
    justify-content: space-around;
    padding-top: 30px;
    display: flex;
    background-position: center;
    margin: 0 auto;
}

.navigationli ul {
    display: flex;
}

.navigationli ul li {
    margin-left: 52px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
}

.navigationli ul li:hover,
.navigationli ul li:focus {
    color: #5863f8;
    transition: all .3s;
}

.navigation-title-luka {
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
}

.bigcontact-div:nth-child(1),
.bigcontact-div:nth-child(2),
.bigcontact-div:nth-child(3) {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.bigcontact-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 95px;
}

.contact_title {
    font-size: 56px;
    margin-bottom: 18px;
}

.home-contact {
    display: flex;
    align-items: center;
}

.stick {
    width: 1px;
    height: 19px;
    color: #5863f8;
    background-color: #000000;
    margin-left: 16.5px;
    margin-right: 16.5px;
}

.home-contact p:nth-child(2) {
    margin-left: 35px;
}
/* END HEADER */

/* SECTION */
.mapiframe {
    max-width: 1088px;
    width: 100%;
    height: 286px;  
    margin-top: 50px;
    margin-bottom: 50px;
}

.map {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}

.section-contact-title {
    max-width: 465px;
    width: 100%;
    line-height: 1.4;
    margin-bottom: 54px;
}

.section-contact-title-div {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}

.section-contact-title2 {
    max-width: 541px;
    width: 100%;
    line-height: 1.4;
    margin-bottom: 54px;
}

.section-contact-title p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863f8;
    font-weight: 600;
}

.section-contact-title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
}

.section-contact-title2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863f8;
    font-weight: 600;
}

.section-contact-title2 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
}


.forms-div {
    display: flex;
}

.box-1 {
    max-width: 720px;
    width: 100%;
    height: 288px;
    margin-right: 16px;
}

.massage-area {
    max-width: 720px;
    width: 100%;
    height: 288px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid #e8e8e8;
    background-color: rgb(250, 250, 250);
    resize: none;
}

.box-2 {
    max-width: 352px;
    width: 100%;
    height: 60px;
}

.form-input, .send-button {
    max-width: 352px;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #e8e8e8;
    background-color: rgb(250, 250, 250);
}

.form-div {
    margin-bottom: 16px;
}

.forms-div {
    margin-bottom: 50px;
}

.send-button {
    color: #fff;
    background-color: #5863f8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button p {
    font-size: 19px;
}

.send-button::after {
    content: url(../img/send.svg);
    margin-left: 14px;
    max-width: 16px;
    width: 100%;
}

.section3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

.section3-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}

.section3-icon-div:first-child::before {
    content: url(../img/mail.svg);
    background-color: #5863f8;
    max-width: 60px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 15px;
}

.section3-icon-div:nth-child(2):before {
    content: url(../img/phone.svg);
    background-color: #5863f8;
    max-width: 60px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 15px;
}

.section3-icon-div:last-child::before {
    content: url(../img/map-pin.svg);
    background-color: #5863f8;
    max-width: 60px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 15px;
}

.section3-icon-div p:first-child {
    font-weight: 600;
    margin-bottom: 6px;
}

.section3-icon-div p:nth-child(2),
.section3-icon-div p:nth-child(3) {
    opacity: 30%;
}

.img3box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
/* END SECTION */

/* FOOTER */
.footer-div {
    width: 100%;
    background-color: #000000;
}
.footer {
    max-width: 1070px;
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: space-between;
    padding-top:90px;
    margin: 0 auto;
}

.footer ul li {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: #fff;
}

.footer-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.footer-li p {
    max-width: 284px;
    width: 100%;
    opacity: 60%;
}

.logodiv {
    margin-top: 20px;
    display: flex;
}

.logodiv li img {
    margin-right: 10px;
}

.footer-secondary-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
}

.footerThirdbox, .footerFourthbox  {
    margin-left: -57px;
}
/* 
.footerThirdbox {
    margin-left: 130px;
}

.footerFourthbox {
    margin-left: 100px;
} */

.footerSecbox  ul li:last-child,
.footerThirdbox ul li:last-child {
    line-height: 2;
    color: #5863f8;
}

.footerFourthbox ul li:nth-child(2),
.footerFourthbox ul li:nth-child(3),
.footerFourthbox ul li:nth-child(4) {
    line-height: 2.5;
}

.mailli::before {
    content: url(../img/mail2.svg);
    margin-right: 14px;
}

.numberli::before {
    content: url(../img/phone2.svg);
    margin-right: 14px;
}

.adresli::before {
    margin-right: 14px;
    content: url(../img/map-pin2.svg);
}

.footer-lastp {
    font-family: sans-serif;
    color: #fff;
    font-size: 14px;
    opacity: 60%;
}

.footer-lasta {
    font-family: sans-serif;
    color: #5863f8;
    font-size: 14px;
    opacity: 100%;
    font-weight: bold;
    margin-left: 4px;
}

.footer-lastaa {
    font-family: sans-serif;
    color: #5863f8;
    font-size: 14px;
    opacity: 100%;
    margin-left: 4px;
}

.lastp {
    display: flex;
}

.lastp-div {
    display: flex;
    justify-content: space-between;
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}